body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    overflow: hidden;
}


/* Form styles */
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

/* Button styles */
.button,
form button,
a button {
    display: inline-block;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 16px;
}

.button:hover,
form button:hover,
a button:hover {
    background-color: #cc0000;
}

/* Link styles */
a {
    text-decoration: none;
}

/* Guestbook styles */
#guestbook-form {
    margin-bottom: 20px;
}

#guestbook-entries {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#message {
    height: 150px;
    resize: vertical;
    /* 수직으로만 크기 조절 가능 */
}

.entry {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #202020;
}

.delete-btn {
    display: none;
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.entry:hover .delete-btn {
    display: inline-block;
}

h1 {
    text-align: center;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

#name,
#message {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    box-sizing: border-box;
}


#name {
    height: 40px;
}

#message {
    height: 150px;
    resize: none;
}

.char-count {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #aaa;
}